## Credentials #####################################################################################
MONGO_USER=${db_user}
MONGO_PASSWORD=${db_password}

## Connection #####################################################################################
MONGO_PORT=${db_port}
